<!-- <div class="popup">
    <div class="wrapper"> -->
        <form [formGroup]="form" (submit)="submit()" class="form-wrapper">
            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="Email Addresse" required>
                <mat-error *ngIf="email?.invalid && email?.touched">Invalid email address</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Passwort" required>
                <mat-hint>Password must be at least 8 characters long</mat-hint>
                <mat-error *ngIf="password?.invalid && password?.touched">Password is too short</mat-error>
            </mat-form-field>
            <br>
            <div class="response _error"><span>{{error}}</span></div>
            <br>
            <button mat-raised-button [disabled]="form.invalid" type="submit" (click)="submit">SUBMIT</button>
            <p>oder</p>
            <a class="form-button" routerLink="/register">Registrieren</a>
        </form>
    <!-- </div>
</div> -->