<form [formGroup]="form" (submit)="submit()" class="form-wrapper">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="address" placeholder="address">
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="phoneNumber" placeholder="phoneNumber">
    </mat-form-field>
    
    <p>{{error}}</p>
    <button type="submit">Speichern</button>
    <button (click)="cancel()">Abbrechen</button>
</form>